<nav class="navbar navbar-dark bg-primary shadow">

  <div class="container">

    <span class="navbar-brand mb-0 h1">

      <i class="bi bi-pc-display-horizontal"></i>

      Inventario de Equipos Tecnológicos

    </span>

  </div>

</nav>


<div class="container mt-4">

  <app-listado></app-listado>

  <app-formulario></app-formulario>

</div>


<footer class="bg-dark text-white text-center p-3 mt-5">

  <strong>Universidad ESPE</strong>

  <br>

  Sistema Inventario de Equipos Tecnológicos

  <br>

  Desarrollado por: Millie Stefanny Alvarez Villón

</footer>